[Desktop Entry]
Name=Mini Screenshot
Comment=Create ephemeral floating screenshot windows
Exec=kasasa
Icon=io.github.kelvinnovais.Kasasa
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;
StartupNotify=false