[Desktop Entry]
Name=Kasasa
Comment=Snip and pin useful information
Exec=kasasa
Icon=io.github.kelvinnovais.Kasasa
Terminal=false
Type=Application
Categories=Utility;GTK;GNOME;
Keywords=screenshot;clipping;snip;image;
StartupNotify=true
X-GNOME-UsesNotifications=true