/* HEADERBAR */
/* See https://sources.debian.org/src/libadwaita-1/1.7.2-1/src/stylesheet/widgets/_header-bar.scss/ */
.headerbar-no-dimming {
  /* Keep the same background color */
  background-color: var(--headerbar-bg-color);
}

.headerbar-no-dimming:backdrop windowhandle {
  /* Disable filters (that decreases the headerbar opacity) */
  filter: none;
}


/* WINDOW */
.circular-window {
  border-radius: 10px 37px 37px 37px;
  opacity: 0.75;
  /* filter: blur(1px); */
}


/* TOOLBAR BUTTONS */
/* See https://gitlab.gnome.org/GNOME/loupe/-/blob/40d425ac803700511a2ed0d2ba150bd557278434/data/resources/style.css#L9 */
:root {
  --osd-background-color: rgba(240, 240, 240, 0.75);
  --box-shadow-color: grey;
}

.osd-box {
  border-radius: 12px;
  background-color: var(--osd-background-color);
  box-shadow: 0px 0px 2px 0px var(--box-shadow-color);
  padding: 6px;
}

.osd-box menubutton button {
  padding-left: 0;
  padding-right: 0;
}

.osd-box-no-padding {
  border-radius: 12px;
  background-color: var(--osd-background-color);
  box-shadow: 0px 0px 6px 0px var(--box-shadow-color);
  padding: 3px;
}

.osd-box-no-padding menubutton button {
  padding-left: 0;
  padding-right: 0;
}

